.badges
	&__list
		display: flex
		flex-wrap: wrap
		align-items: center
		gap: var(--gap-s) var(--gap-l)

.badge
	display: flex
	align-items: center
	gap: var(--gap-xs)
	color: var(--color-neutral-500)

	&__icon
		size: 20px

	&__text
		font-size: var(--font-size-text-s)
		font-weight: 500
		letter-spacing: var(--letter-spacing-s)
		line-height: var(--line-height-l)
