.header
	position: fixed
	top: 0
	left: 0
	z-index: var(--z-index-above-secondary)

	width: 100%
	min-height: fluid(84, 55)
	padding: fluid(20, 16) 0

	border-bottom: 1px solid var(--default-border)
	background-color: var(--color-neutral-200)

	color: var(--color-neutral-900)

	transition: transform 0.3s ease, background-color 0.3s, border-color 0.3s

	&.fixed
		position: sticky
		top: 0

		&:not(.visible)
			transform: translateY(-100%)

	&__inner
		display: grid
		grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr)
		align-items: center
		gap: 16px

		@include media('max', 'tablet')
			display: flex
			justify-content: space-between

	&__logo
		--logo-width: fluid(165, 126)
		--logo-aspect-ratio: 165 / 30
		transition: filter 0.3s

	&__map
		display: flex
		justify-content: flex-end

		@include media('max', 'tablet')
			display: none

	&__burger-menu
		size: 20px
		color: var(--color-neutral-900)

		@include media('min', 'tablet')
			display: none

	&--transparent
		border-bottom: 1px solid var(--color-neutral-white-trans-10)
		background: rgba(0, 0, 0, 0.15)
		color: var(--color-neutral-200)
		backdrop-filter: blur(10px)

		@include hover
			border-bottom: 1px solid var(--default-border)
			background-color: var(--color-neutral-200)
			color: var(--color-neutral-200)

			& .header
				&__logo
					filter: invert(0)

				&-menu
					&__link, &__title
						--link-color: var(--color-neutral-900)

		& .header
			&__logo
				filter: invert(1)

			&__burger-menu
				color: var(--color-neutral-200)

			&-menu
				&__link, &__title
					--link-color: var(--color-neutral-200)
