.socials
	display: flex
	flex-direction: column
	gap: 8px

	&__list
		display: flex
		flex-wrap: wrap
		gap: var(--gap-xxs)

	&__item
		flex-shrink: 0

		&-icon
			--width: 20px
			--aspect-ratio: 1
			--object-fit: contain
