.form-send
	position: relative
	height: 100%

	&__info
		display: flex
		flex-direction: column
		gap: var(--gap-m)
		height: 100%

	&__text
		color: var(--color-neutral-500)

	&__bg
		--object-fit: contain
		height: fluid(440, 240)
		margin-top: fluid(150, 50)
		margin-left: auto
		pointer-events: none
		translate: fluid(125, 80) 0
