.logo
	--logo-width: 190px
	--logo-aspect-ratio: 190/48

	display: flex
	width: 100%
	max-width: var(--logo-width)

	&__img
		--width: 100%
		--aspect-ratio: var(--logo-aspect-ratio)
		--object-fit: contain
