.main-news
	&__slider
		& .swiper-slide

			&:first-child
				& .news-card
					border-left: 1px solid var(--default-border)

			& .news-card
				border-top: 1px solid var(--default-border)
				border-left: none
