# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.timestamp*

node_modules
dist
*.local
.yarn/cache/
.yarn/install-state.gz
bun.lockb

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

!package-lock.json
!.vscode
!.idea
!.env
