// Цвета

// Основной цвет
$color-primary: #006771
$color-secondary: #eec31c

// Второстепенный цвет
$color-neutral-100: #fff
$color-neutral-200: #f6f6f6
$color-neutral-300: #c5c5c5
$color-neutral-400: #a2a2a2
$color-neutral-500: #838383
$color-neutral-900: #000

// Радиусы
$radius-s: 2px
$radius-m: 6px
$radius-l: 10px
$radius-xl: 20px
$radius-xxl: 36px

// =======================
// Типографика
$font-primary: arial, sans-serif
$font-secondary: 'Montserrat', sans-serif
$font-size-h1: 40px
$font-size-h2: 32px
$font-size-h3: 24px
$font-size-h4: 20px
$font-size-h5: 18px
$font-size-h6: 16px
$font-size-p1: 16px
$font-size-p2: 14px
$font-size-p3: 12px
$line-height-h1: 1.2
$line-height-h2: 1.3
$line-height-p1: 1.4
$line-height-p2: 1.2

// =======================
// Base
$body-bg: $color-neutral-200
$body-border: $color-neutral-300

// Header
$header-number: $color-neutral-900
$header-phone: $color-neutral-400
$header-link: $color-primary
$header-bg: $color-neutral-100

// Footer
$footer-link: $color-primary
$footer-contact-name: $color-neutral-400
$footer-address: $color-neutral-900
$footer-text: $color-neutral-900
$footer-bg: $color-neutral-100

// Текст
$text-color: $color-neutral-900
$text-desc-color: $color-neutral-500
$text-figure: $color-neutral-500
$text-important-border: $color-neutral-900

// Кнопки
$btn-bg: $color-neutral-900
$btn-color: $color-neutral-100

// Баннер
$banner-title: $text-color
$banner-text: $text-desc-color
$banner-bg: $color-neutral-100

// Карточки
$card-bg: transparent
$card-title: $text-color
$card-border: $color-neutral-300
$card-name: $color-neutral-900
$card-price: $color-neutral-900

// Ваши данные
$personal-title: $color-neutral-900
$personal-border: $color-neutral-900
$personal-elem-name: $color-neutral-500
$personal-elem-value: $color-neutral-900

// Ваш заказ
$product-title: $color-neutral-900
$product-border: $color-neutral-900
$product-row-bg: transparent
$product-row-border: $color-neutral-500
$product-row-title: $color-neutral-500
$product-row-count: $color-neutral-900
$product-row-price: $color-neutral-900
$product-sum: $color-neutral-500
$product-sum-price: $color-neutral-900

// Таблица
$table-title: $color-neutral-500
$table-title-border: $color-neutral-900
$table-border: $color-neutral-300
$table-text: $color-neutral-900
