.body
	min-width: 100%
	margin: 0
	padding: 0
	background-color: $color-neutral-100 !important
	word-spacing: normal

.center-body
	box-sizing: border-box
	width: 100%
	padding: 40px 10px
	table-layout: fixed
	background-color: $color-neutral-100 !important

.main-body
	max-width: 842px
	margin: 0 auto
	border: 1px solid $body-border
	border-radius: $radius-l
	background-color: $body-bg !important

#outlook a
	padding: 0

a
	color: $color-neutral-900 !important
	font-size: $font-size-p2
	text-decoration: none

table, p, td, a, span,
h1, h2, h3, h4, h5, h6
	font-family: $font-primary
	font-weight: 400

td, a, span, p, ul, blockquote, figure,
h1, h2, h3, h4, h5, h6
	margin: 0

li
	padding: 0 0 8px
	font-size: $font-size-p2
	line-height: $line-height-p1

//- table

table
	border-spacing: 0

td
	padding: 0

.main-table
	width: 100%

.default-td
	margin: 0
	font-size: $font-size-p2
	font-weight: 400
	line-height: $line-height-p1

.width-100
	display: inline-block
	min-width: 100%

//- preheader

.preheader
	display: none

	max-width: 0
	max-height: 0

	overflow: hidden

	opacity: 0

	color: $color-neutral-100
	font-size: 0
	line-height: 1px

//- text

.text-center
	text-align: center

.text-right
	color: $card-price !important
	text-align: right
