.partner-projects
	width: 750px
	max-width: 100%
	padding: var(--padding-xl)

	@include media('max', 'tablet')
		width: 100%

	&__list
		display: flex
		flex-direction: column

	&__empty
		display: flex
		align-items: center
		justify-content: flex-end

.partner-projects-loading
	width: 750px
	height: 100svh
