.command
	background-color: var(--body-bg)

	& .employee-card
		@include media('min', 'laptop-xl')
			&:nth-child(6n - 5)
				@include line-border

		@include media('max', 'laptop-xl')
			&:nth-child(4n - 3)
				@include line-border

		@include media('max', 'tablet')
			&:nth-child(3n - 2)
				@include line-border

		@include media('max', 'mobile-xl')
			&:nth-child(2n - 1)
				@include line-border

	&__list
		display: grid
		grid-template-columns: repeat(6, minmax(0, 1fr))
		overflow: hidden

		@include media('max', 'laptop-xl')
			grid-template-columns: repeat(4, minmax(0, 1fr))

		@include media('max', 'tablet')
			grid-template-columns: repeat(3, minmax(0, 1fr))

		@include media('max', 'mobile-xl')
			grid-template-columns: repeat(2, minmax(0, 50%))

	&__roster
		display: flex
		flex-direction: column
