.contacts-block
	background-color: var(--color-neutral-100)

	&__wrapper
		display: flex
		flex-direction: column
		gap: var(--gap-m)
		height: 100%
		padding: var(--padding-xl)
		background-repeat: no-repeat
		background-position: right bottom

		@include image('../img/logo-transparent', 'svg')

	&__caption
		color: var(--color-neutral-500)

	&__bottom
		margin-top: auto
