.project-detail
	display: grid
	grid-template-columns: 600px minmax(0, 950px)
	flex-grow: 1
	width: 1550px
	max-width: 100%

	@include media('max', 'laptop')
		display: flex
		flex-direction: column

	&__aside
		display: flex
		flex-direction: column

	&__image
		--width: 100%
		--object-fit: cover
		--aspect-ratio: 600 / 400

	&__info
		display: flex
		flex-direction: column
		flex-grow: 1
		gap: var(--gap-l)
		padding: var(--padding-xl)

		@include media('min', 'laptop')
			border-right: 1px solid var(--default-border)

	&__head
		display: flex
		flex-direction: column
		gap: var(--gap-xs)

	&__caption
		color: var(--color-neutral-500)

	&__status
		display: flex
		flex-direction: column
		align-items: flex-start
		gap: var(--gap-xs)

		& .tag
			--tag-bg: var(--color-neutral-100)

			@include media('max', 'laptop')
				--tag-color: var(--color-neutral-900)

	&__main
		display: flex
		flex-direction: column
		gap: var(--gap-xxl)
		width: 100%
		padding: var(--padding-xl)

	&__command
		@include media('max', 'laptop')
			margin-bottom: var(--padding-3xl)

	&__empty
		display: flex
		grid-column: 1 / -1
		align-items: center
		justify-content: flex-end
		padding: var(--padding-xl)

.project-loading
	width: 750px
	height: 100svh
