.project-command
	display: flex
	flex-direction: column
	gap: var(--gap-xl)
	width: 100%

	&__header
		display: flex
		align-items: flex-start
		gap: var(--gap-l)

	&__title
		flex-grow: 1

	&__list
		@include out-wrapper-full
